html {
  font: 16px/1.25 arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -150px 0 0 -250px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem 0 0;
  max-width: 500px;
}

ul {
  height: 300px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 500px;
}

li {
  box-sizing: border-box;
  display: block;
  filter: grayscale(100%);
  float: left;
  height: 50px;
  position: relative;
  width: 50px;
}

li::before {
  content: attr(data-content);
  cursor: pointer;
  display: block;
  font-size: 2.3875rem;
  left: 50%;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(0);
}

li:only-child {
  display: none;
}

li:hover {
  filter: grayscale(0);
}

