body {
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
}

small {
  font-size: 0.75rem;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

figure {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  margin: -150px 0 0 -250px;
}

figcaption {
  margin: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  overflow: hidden;
  list-style: none;
}

li {
  float: left;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  box-sizing: border-box;
}

li::before {
  top: 50%;
  left: 50%;
  display: block;
  line-height: 1;
  cursor: pointer;
  content: "\1F621";
  position: absolute;
  font-size: 2.325rem;
  content: attr(data-content);
  transform: translate(-50%, -50%) rotateZ(0);
}

li:only-child {
  display: none;
}

